{% extends "layout.html" %}

{% set active_page = "language" %}

{% block title %}Language{% endblock %}
  
{% block content %}
  <h1>English to Chinese</h1>
   <h2>Pre-selected Option</h2>
<p>Choose a word to translate to Chinese.</p>

<form action="/responseLanguage">
  <select name="language">
    <option value="thank you">Thank you</option>
    <option value="sorry">Sorry</option>
    <option value="cheers" selected>Cheers!</option>
    <option value="love">I love you</option>
  </select>
  <br><br>
  <input type="submit">
</form>
{%endblock%}