{% extends "layout.html" %}

{% set active_page = "money" %}

{% block title %}Money{% endblock %}
  
{% block content %}
  <h1>Money USD to Yen</h1>
   <h2>Pre-selected Option</h2>
<p>Choose an amount to convert into Japanese yen.</p>

<form action="/responseMoney">
  <select name="money">
    <option value="one" selected>1.00</option>
    <option value="five">5.00</option>
    <option value="twenty">20.00</option>
    <option value="hundred">100.00</option>
  </select>
  <br><br>
  <input type="submit">
</form>
{%endblock%}
    
